@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

#root {
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  font-family: Manrope, sans-serif;
  color: #262626;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  background-color: #f9f9f9;
}

@media screen and (min-width: 768px) {
  #root {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  #root {
    max-width: 100%;
  }
}
