@import "tailwindcss";

@theme {
  --color-black: #262626;
  --color-black-secondary: #2b2b2a;
  --color-orange: #f6b83d;
  --color-orange-secondary: #f9b020;
  --color-brown-light: #fff4df;
  --color-brown-light-secondary: #fbe7c1;
  --color-white: #ffffff;
  /* --color-white-secondary: #f9f9f9; */
  --color-red: #ef2447;
  --color-red-secondary: #f43f5e;
  --color-green: #08aa83;
  --color-blue: #54adff;
  --color-gray-light: #f4f4f4;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}